<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SSJP500</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>page.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.htm</url-pattern>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>omega</param-value>
  </context-param>
   <context-param>
    <param-name>primefaces.UPLOADER</param-name>
    <param-value>commons</param-value>
  </context-param>
  <login-config>
  	<auth-method>FORM</auth-method>
  	<!-- <realm-name>jdbcRealm</realm-name> -->
  	<form-login-config>
  		<form-login-page>/SSJP600/login.jsp</form-login-page>
  		<form-error-page>/SSJP600/loginError.xhtml</form-error-page>
  	</form-login-config>
  </login-config>
  <security-constraint>
  	<display-name>Administrator</display-name>
    <web-resource-collection>
      <web-resource-name>Admin Area</web-resource-name>
	      <description></description>
	      <url-pattern>/faces/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Administrators</description>
      <role-name>Admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<display-name>User</display-name>
    <web-resource-collection>
      <web-resource-name>Member section</web-resource-name>
      <description></description>
      <url-pattern>/faces/users/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>User</description>
      <role-name>User</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<display-name>Public</display-name>
    <web-resource-collection>
      <web-resource-name>Public area</web-resource-name>
      <description></description>
      <url-pattern>/faces/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Everybody</description>
      <role-name>Anon</role-name>
      <role-name>User</role-name>
      <role-name>Member</role-name>
    </auth-constraint>
  </security-constraint>
 <!-- 
 <login-config>
 	<auth-method>FORM</auth-method>
 	<realm-name>loginRealm</realm-name>
 	<form-login-config>
 		<form-login-page>/faces/login.jsp</form-login-page>
 		<form-error-page>/faces/loginError.jsp</form-error-page>
 	</form-login-config>
 </login-config>
  -->
 <security-role>
 	<role-name>ADMIN</role-name>
 </security-role>
 <security-role>
 	<role-name>USER</role-name>
 </security-role>
 <security-role>
 	<role-name>ANON</role-name>
 </security-role>
 
 <error-page>
 	<error-code>403</error-code>
 	<location>/faces/loginError.jsp</location>
 </error-page>
 <error-page>
 	<exception-type>javax.faces.application.ViewExpiredException</exception-type>
 	<location>/faces/login.jsp</location>
 </error-page>
 <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
</filter-mapping>

</web-app>